{% set header_image = page.header.header_image|defined(true) %}
{% set header_image_width  = page.header.header_image_width|defined(900) %}
{% set header_image_height = page.header.header_image_height|defined(300) %}
{% set header_image_file = page.header.header_image_file %}
<section class="section">
	<div class="columns">
		<div class="column is-4 ">
			<figure class="image">
				{{page.media[page.header.cover].html('', 'book cover', 'book-cover-full')}}
			</figure>

			<article class="message is-dark">
				<div class="message-body">

					<div class="tags">

						{% if page.taxonomy.tag|length == 1 %}
							<div class="tag is-info">
								Contains lesson plans
							</div>
						{% endif %}

						{% for item in page.taxonomy.subjects %}
							<a class="tag is-success" href="/books?subjects={{item | url_encode}}">
								{{item}}
							</a>
						{% endfor %}

						{% for item in page.taxonomy.audience %}
							<a class="tag is-warning" href="/books?audience={{item | url_encode}}">
								{{item}}
							</a>
						{% endfor %}

						{% for item in page.taxonomy.expertise %}
							<a class="tag is-danger" href="/books?expertise={{item | url_encode}}">
								{{item}}
							</a>
						{% endfor %}

					</div>


					<div class="columns is-multiline">
					{% if page.header.pagecount != 0 %}
						<div class="column is-half">
							<strong>Page Count:</strong>
							{{page.header.pagecount}}
						</div>
						{% endif %}
						<div class="column is-half">
							<strong>ISBN:</strong>
							{{page.taxonomy.isbn[0]}}
						</div>
					</columns>
				</div>
			</article>

		</div>
		<div class="column is-one-half ">
			<h1 class="title">{{page.title}}</h1>
			<h2 class="subtitle is-4">{{page.taxonomy.pubdate[0]}}, {{page.header.publisher}}</h2>
			<h2 class="subtitle is-4">By
				{% for author in page.taxonomy.author %}
					{{author}}{% if (not loop.last) %}, {% endif %}
				{% endfor %}

					</h2>
					

					<div class="buttons">
						{% if page.header.amazon != 'nil' %}
							<a class="button is-link is-outlined" href="{{page.header.amazon}}">
									Buy on Amazon
							</a>
						{% endif %}

						{% if page.header.worldcat != 'nil' %}
							<a class="button is-link is-outlined" href="{{page.header.worldcat}}">
									See on Worldcat
							</a>
						{% endif %}

						{% if page.header.google != 'nil' %}
							<a class="button is-link is-outlined" href="{{page.header.google}}">
									See on Google Books
							</a>
						{% endif %}

					</div>


					<p class="is-italic is-size-5">
						{{page.content}}
					</p>

				</div>
			</div>
		</section>
