{% set header_image = page.header.header_image|defined(true) %}
{% set header_image_width  = page.header.header_image_width|defined(900) %}
{% set header_image_height = page.header.header_image_height|defined(300) %}
{% set header_image_file = page.header.header_image_file %}

<div class="columns">
	<div class="column is-one-third ">
		<figure class="image is-2by3">
			{% if header_image %}
				{% if header_image_file %}
					{% set header_image_media = page.media.images[header_image_file] %}
				{% else %}
					{% set header_image_media = page.media.images|first %}
				{% endif %}
				{{ header_image_media.cropZoom(header_image_width, header_image_height).html }}
			{% endif %}
		</figure>
	</div>
	<div class="column is-two-thirds ">
		<h1 class="title">{{page.title}}</h1>
		<h2 class="subtitle is-4">By
			{{page.taxonomy.author[0]}}</h2>
		<article class="message is-dark">
			<div class="message-body">
				<div class="columns is-multiline">
					<div class="column is-half">
						<strong>Publication Date:</strong>
						2014
					</div>
					<div class="column is-half">
						<strong>ISBN:</strong>
						978-0-13-379811-1
					</div>
					{% if page.taxonomy.expertise %}
						<div class="column is-half">
							<strong>Expertise Level:</strong>
							{{page.taxonomy.expertise}}
						</div>
					{% endif %}
					{% if page.taxonomy.audience %}
						<div class="column is-half">
							<strong>Intended Audience:</strong>
							{{page.taxonomy.audience}}
						</div>
					{% endif %}
				</columns>
			</div>
		</article>
		<div class="buttons">

			<button class="button is-link is-outlined">
				Buy on Amazon
			</button>
			<button class="button is-link is-outlined ">
				See on Worldcat
			</button>
		</div>
		<p class="is-italic is-size-5">
            {{page.content}}
		</p>
	</div>
</div>
